* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
	background: #15232E;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
p{
	line-height: 1.6em;
}
br.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1920px;
}

@font-face {
    font-family: 'baloo_paaji_2bold';
    src: url('./assets/fonts/baloopaaji2-bold-webfont.woff2') format('woff2'),
         url('./assets/fonts/baloopaaji2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'baloo_paaji_2regular';
    src: url('./assets/fonts/baloopaaji2-regular-webfont.woff2') format('woff2'),
         url('./assets/fonts/baloopaaji2-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}